


<div class="container containercus">
    <div class="gallery js-flickity">
        <div class="gallery-cell">
            <div class="ratio-box bannerimgbox">
                <img src="images/banner.jpg" sizes="99vw" />
            </div>
        </div>
        
    </div>

</div>




<div class="container containercus">


    <div class="">



        <div class="row">
            <div class="col-md-10 ">

                <div class="dealbox">
                    <div class="row text-center ">
                        <div class="col-md-2 " ng-repeat="I in Bookings" ng-click="goItemDetails(I)">
                            <img src="{{basePath}}{{I.Image}}" class="adminimg" style="width:100%;height:10vw;" />
                            <br>
                            <br>
                            <p><a><b>{{I.Name}}</b></a></p>
                            <p>{{I.Brand.Name}}</p>
                            <p>{{I.Price}}</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <h3>Deals of the Day </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default">View All</button>
                        </div>
                    </div>
                    <br>

                    <div class="row text-center " >
                        <div class="col-md-2 "ng-repeat="I in Items"ng-click="goItemDetails(I)">
                            <img src="{{basePath}}{{I.Image}}" class="adminimg"  style="width:100%;height:10vw;"/>
                            <br>
                            <br>
                            <p><a><b>{{I.Name}}</b></a></p>
                            <p>{{I.Brand.Name}}</p>
                            <p>{{I.Price}}</p>
                        </div>                     
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="dealbox1">
                    <img src="https://rukminim1.flixcart.com/flap/464/708/image/d3c3ebd6f64be45a.jpg?q=70">
                </div>
            </div>
        </div>


    </div>

</div>

<div class="container containercus">


    <div class="">





    </div>

</div>
<br>
<div class="container containercus">


    <div class="">



        <div class="row">
            <div class="col-md-12 ">

                <div class="dealbox">



                    <div class="row">
                        <div class="col-md-6">
                            <h3>Choose By Brand </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default">View All</button>
                        </div>
                    </div>
                    <br>

                    <div class="row text-center ">
                        <div class="col-md-2 " ng-repeat="I in Brands"ng-click="goBrandDetails(I)">
                            <img src="{{basePath}}{{I.Image}}" class="adminimg"  style="width:100%;height:10vw;"/>
                            <br>
                            <br>
                            <p><a><b>{{I.Name}}</b></a></p>
                            <p>{{I.Brand.Name}}</p>
                            <p>{{I.Price}}</p>
                        </div>
                    </div>

                </div>
                </div>

            </div>

        </div>


    </div>

<div class="container containercus">


    <div class="">



        <div class="row">
            <div class="col-md-10 ">

                <div class="dealbox">



                    <div class="row">
                        <div class="col-md-6">
                            <h3>Choose by Category </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default">View All</button>
                        </div>
                    </div>
                    <br>

                    <div class="row text-center ">
                        <div class="col-md-2 " ng-repeat="I in Categories" ng-click="goCatDetails(I)">
                            <img src="{{basePath}}{{I.Image}}" class="adminimg"  style="width:100%;height:10vw;"/>
                            <br>
                            <br>
                            <p><a><b>{{I.Name}}</b></a></p>
                            <p>{{I.Brand.Name}}</p>
                            <p>{{I.Price}}</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="dealbox1">
                    <img src="https://rukminim1.flixcart.com/flap/464/708/image/d3c3ebd6f64be45a.jpg?q=70">
                </div>
            </div>
        </div>


    </div>

</div>

<div class="container containercus">


    <div class="">



        <div class="row">
            <div class="col-md-12">
                <br>

                <div class="row text-center">
                    <div class="col-md-4">
                        <img src="/images/z.png" class="" />
                    </div>
                    <div class="col-md-3">
                        <img src="/images/x.png" class="" />
                    </div>
                    <div class="col-md-3">
                        <img src="/images/c.png" class="" />
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>


<div class="container containercus">


    <div class="">



        <div class="row">
            <div class="col-md-10 ">

                <div class="dealbox">



                    <div class="row">
                        <div class="col-md-6">
                            <h3>New Launches</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default">View All</button>
                        </div>
                    </div>
                    <br>

                    <div class="row text-center ">
                        <div class="col-md-2 " ng-repeat="I in Newlaunchs" ng-click="goNewlaunchDetails(I)">
                            <img src="{{basePath}}{{I.Image}}" class="adminimg" style="width:100%;height:10vw;" />
                            <br>
                            <br>
                            <p><a><b>{{I.Name}}</b></a></p>
                            <p>{{I.Brand.Name}}</p>
                            <p>{{I.Price}}</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="dealbox1">
                    <img src="https://rukminim1.flixcart.com/flap/464/708/image/d3c3ebd6f64be45a.jpg?q=70">
                </div>
            </div>
        </div>
        </div>
    </div>
