<!DOCTYPE html>


<html lang="en" ng-app="Ecommerce">

<head>

    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="icon" href="~/images/fav.png" />

    <meta charset="utf-8">
    <meta name="Description" CONTENT="">


    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="Scripts/kendo/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/nick.css" rel="stylesheet" />
    

</head>

<body>

    <div ui-view=""> </div>

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/scripts/web/jquery-ui.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/scripts/toastr.js"></script>
    <script src="~/Scripts/ng-loaders/ngLoader.js"></script>
    <script src="~/Scripts/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/scripts/web/move-top.js"></script>
    <script src="~/scripts/web/easing.js"></script>

    <script src="~/App/App.js"></script>

    <script src="~/App/controllers/LoginController.js"></script>
    <script src="~/App/controllers/HomeController.js"></script>
    <script src="~/App/controllers/InitController.js"></script>
    <script src="~/App/controllers/AdBrandController.js"></script>
    <script src="~/App/controllers/CategoryController.js"></script>
    <script src="~/App/controllers/SubcategoryController.js"></script>
    <script src="~/App/controllers/ItemController.js"></script>
    <script src="~/App/controllers/GalleryController.js"></script>
    <script src="~/App/controllers/viewCategoryController.js"></script>
    <script src="~/App/controllers/viewItemController.js"></script>
    <script src="~/App/controllers/viewBrandController.js"></script>
    <script src="~/App/controllers/BookingController.js"></script>
    <script src="~/App/controllers/NewlaunchController.js"></script>
    <script src="~/App/controllers/viewNewlaunchController.js"></script>
    <script src="~/App/controllers/NewlaunchproductController.js"></script>
    <script src="~/App/controllers/AdminbookingController.js"></script>
    <script src="~/App/controllers/BookingReportController.js"></script>
    <script src="~/App/controllers/SearchbarController.js"></script>

    <script src="~/App/common/AuthInterceptor.js"></script>
    <script src="~/App/common/directives.js"></script>

    <script src="~/App/services/AuthenticationService.js"></script>
    <script src="~/App/services/LoginService.js"></script>
    <script src="~/App/services/MainService.js"></script>


</body>

</html>