<div class="container containercus">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Filter Products</h3>
                    <hr />

                    <p><b>Brands</b></p>
                    <div ng-repeat="B in Brands">
                        <input type="checkbox" /> {{B.Name}}
                    </div>

                    <div data-role="page">
                        <div data-role="header">
                            <h3>Price</h3>
                        </div>

                        <div data-role="main" class="ui-content">
                            <form method="post" action="/action_page_post.php">
                                <div data-role="rangeslider">
                                    <label for="price-min">Min:</label>
                                    <input type="text" name="Min Price" value=""><br>

                                    <label for="price-max">Max:</label>
                                    <input type="text" name="Max Price" value=""><br>
                                </div>
                                <input type="submit" data-inline="true" value="Submit">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{basePath}}{{Items.Image}}" style="width:80%;height:15vw;" />
                    </div>
                    <div class="col-md-2">
                        <p><a><b>Name : {{Items.Name}}</b></a></p>
                        <p><a><b>Brand : {{Items.Brand.Name}}</b></a></p>
                        <p><a><b>Category : {{Items.Category.Name}}</b></a></p>
                        <p><a><b>Subcategory : {{Items.Subcategory.Name}}</b></a></p>
                        <p><a><b>Price : {{Items.Price}}</b></a></p>
                       

                        <div class="text-center">
                            <button class="btn-btn-default" ng-click="goBookingPage(Items)">Buy Now..</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p><a><h3>Features : </h3></a></p>
                        <p ng-repeat="F in Items.Itemfeatures">
                            {{F.Description}}

                        </p>
                    </div>
                </div>
            </div>
        </div>


        <br />
        <br />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <p><a><h3>Related Products : </h3></a></p>
                        <div class="row text-center">
                            <div class="col-md-3" ng-repeat="g in SimilarItems">
                                <div class="polaroid">
                                    <img src="{{basePath}}{{g.Image}}" style="width:30%;height:6vw;" />
                                    <br />
                                    <br />
                                    <p><a><b>Name : {{g.Name}}</b></a></p>
                                    <p><a><b>Brand : {{g.Brand.Name}}</b></a></p>
                                    <p><a><b>Category : {{g.Category.Name}}</b></a></p>
                                    <p><a><b>Subcategory : {{g.Subcategory.Name}}</b></a></p>
                                    <p><a><b>Price : {{g.Price}}</b></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


